n8n/workflows/02_Matching_Smart_Judge.json
{
  "name": "02_Matching_Smart_Judge",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(json_agg(t), '[]'::json) as po_lines\nFROM (\n  SELECT \n    Item.po_number, \n    Item.line_item, \n    Item.material, \n    Item.ordered_qty as open_qty, \n    Item.unit_price,\n    Header.currency\n  FROM ekpo as Item\n  JOIN ekko as Header ON TRIM(Item.po_number) = TRIM(Header.po_number)\n  WHERE TRIM(Item.po_number) = '{{ $node[\"Normalize Data\"].json.po_clean }}'\n) t;",
        "options": {}
      },
      "id": "8e5edf68-7d0e-4a24-8ec0-586f5b3c259d",
      "name": "Fetch PO Lines",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        46336,
        26624
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zd9tE1ckuHzwYrry",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "== ROLE: Expert Accounts Payable Controller (Strict Auditor)\n== TASK: Three-Way Match (Invoice vs SAP PO)\n\n**INPUTS:**\n1. INV: {{ JSON.stringify($node[\"Normalize Data\"].json.extracted_data) }}\n2. SAP: {{ JSON.stringify($node[\"Fetch PO Lines\"].json.po_lines) }}\n3. RULES: {{ JSON.stringify($node[\"Fetch Rules1\"].json.business_rules) }}\n4. HISTORY: {{ JSON.stringify($node[\"Fetch Examples1\"].json.historical_examples) }}\n5. DUPES: {{ JSON.stringify($node[\"Fetch Duplicates\"].json.existing_invoices) }}\n\n**AUDIT PROTOCOL (EXECUTE IN ORDER):**\n\n0. **RULE 0 (PRIORITY):** If SAP (PO LINES) is exactly `[]`, you MUST return `\"status\": \"BLOCKED_DATA\"`. If DUPES is NOT `[]`, you MUST return `\"status\": \"BLOCKED_DUPLICATE\"`. If either triggers, STOP and RETURN. Do not check other rules.\n\n1. **UNORDERED COSTS (HARD BLOCK):** If Invoice Total includes Freight, Shipping, or Tax NOT explicitly in SAP PO line items, you MUST return `\"status\": \"BLOCKED_PRICE\"`. (Ignore this ONLY if a specific Business Rule matches the vendor/amount).\n\n2. **CURRENCY Mismatch:** Invoice currency must match SAP exactly. Mismatch = `\"status\": \"BLOCKED_PRICE\"`.\n\n3. **3-WAY QUANTITY/PRICE:**\n    - If Invoice Qty > PO Qty: `BLOCKED_QTY`.\n    - If Invoice Price > PO Price: `BLOCKED_PRICE`.\n    - If Invoice Qty < PO Qty:\n        - If the extracted text contains keywords \"FINAL\", \"COMPLETE\", \"LAST\", \"CLOSED\": `AWAITING_INFO`.\n        - Otherwise: `READY_TO_POST` (Partial delivery allowed).\n\n4. **OVERRIDES:** Only Business Rules or HISTORY can override blocks in Step 3. They NEVER override Steps 0, 1, or 2.\n\n**TRACEABILITY:**\nAudit Trail: \"[NODE]: Detailed calculation or comparison result\".\n\n**JSON OUTPUT ONLY:**\n{\n  \"status\": \"READY_TO_POST\" | \"BLOCKED_PRICE\" | \"BLOCKED_QTY\" | \"AWAITING_INFO\" | \"BLOCKED_DATA\" | \"BLOCKED_DUPLICATE\",\n  \"exception_reason\": \"describe technical variance\",\n  \"audit_trail\": \"concise step-by-step audit log\",\n  \"confidence\": 0-100\n}",
        "batching": {}
      },
      "id": "504c6da7-ce77-4095-b4b0-5c97886770eb",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        46880,
        26560
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        46832,
        26848
      ],
      "id": "0c950211-9251-4bb5-a65d-ca7d3059687b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GAGQnq629W7vOxFe",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "02_Matching_Smart_Judge Trigger"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        45728,
        26832
      ],
      "id": "dfb9e5ce-8c24-4e97-b651-9e0ade907dcc",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Clean up LLM output for all items\nreturn $input.all().map((item, index) => {\n  const text = item.json.text || \"\";\n  const cleanJson = text.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n  try {\n    return { json: JSON.parse(cleanJson), pairedItem: { item: index } };\n  } catch (error) {\n    return { json: { error: \"Failed to parse JSON\", raw: text }, pairedItem: { item: index } };\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        47184,
        26624
      ],
      "id": "4779882f-fae4-4b14-b651-3835a58916f4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE invoices\nSET \n  status = CASE WHEN '{{ $json[\"error\"] ? \"true\" : \"false\" }}' = 'true' THEN 'BLOCKED_DATA' ELSE COALESCE(NULLIF('{{ $json[\"status\"] }}', ''), 'AWAITING_INFO') END,\n  exception_reason = {{ $json[\"error\"] ? \"'Error parsing LLM: \" + ($json[\"error\"].replace(/'/g, \"''\")) + \"'\" : ($json[\"exception_reason\"] ? \"'\" + $json[\"exception_reason\"].replace(/'/g, \"''\") + \"'\" : \"NULL\") }},\n  audit_trail = '{{ ($json[\"audit_trail\"] || $json[\"raw\"] || \"No Output\").replace(/'/g, \"''\") }}',\n  updated_at = NOW()\n WHERE google_file_id = '{{ $node[\"Normalize Data\"].json.google_file_id }}'\n RETURNING status, exception_reason, audit_trail;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        47392,
        26624
      ],
      "id": "4b651710-1d31-4a2a-9cf8-91f575d3f2e9",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "zd9tE1ckuHzwYrry",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(json_agg(t), '[]'::json) as business_rules\nFROM (\n  SELECT * \n  FROM validator_rules \n  WHERE is_active = true \n  AND (\n    -- Fuzzy Match: If invoice vendor contains the Rule name (e.g. 'Google Inc' contains 'Google')\n    (condition_field = 'vendor_name' AND '{{ $node[\"Normalize Data\"].json.extracted_data.vendor_name }}' ILIKE '%' || value || '%')\n    OR\n    -- Also fetch global rules that aren't tied to a specific vendor (e.g. High Value checks)\n    (condition_field != 'vendor_name')\n  )\n) t;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        46512,
        26624
      ],
      "id": "9d1e1fb3-3cb9-4efe-b00a-9f0af8a602f9",
      "name": "Fetch Rules1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zd9tE1ckuHzwYrry",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(json_agg(t), '[]'::json) as historical_examples\nFROM (\n  SELECT * \n  FROM ai_learning_examples \n  WHERE \n    -- Fuzzy Match: Find history where the stored vendor name is similar to current invoice\n    (vendor_name ILIKE '%' || split_part('{{ $node[\"Normalize Data\"].json.extracted_data.vendor_name }}', ' ', 1) || '%')\n    OR\n    (vendor_name ILIKE '%' || '{{ $node[\"Normalize Data\"].json.extracted_data.vendor_name }}' || '%')\n  ORDER BY created_at DESC\n  LIMIT 3\n) t;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        46688,
        26608
      ],
      "id": "6f6f740b-7e3e-4dca-985d-2b087f1ecedf",
      "name": "Fetch Examples1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zd9tE1ckuHzwYrry",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(json_agg(t), '[]'::json) as existing_invoices\nFROM (\n  SELECT invoice_number, status, created_at \n  FROM invoices \n  WHERE invoice_number = '{{ $node[\"Normalize Data\"].json.extracted_data.invoice_number }}'\n  AND vendor_name_extracted = '{{ $node[\"Normalize Data\"].json.extracted_data.vendor_name }}'\n  AND google_file_id != '{{ $node[\"Normalize Data\"].json.google_file_id }}'\n) t;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        46788,
        26808
      ],
      "id": "fetch-duplicates-001",
      "name": "Fetch Duplicates",
      "credentials": {
        "postgres": {
          "id": "zd9tE1ckuHzwYrry",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconsole.log('--- NORMALIZE DATA START ---');\nreturn items.map(item => {\n  console.log('Raw Node Input:', JSON.stringify(item.json));\n  const raw = item.json.body || item.json;\n  const extracted = raw.extracted_data || {};\n  const google_file_id = raw.google_file_id || \"\";\n\n  let po_raw = (extracted.po_reference || \"\").toString();\n  console.log('Extracted PO Raw:', po_raw);\n  \n  let po = String(po_raw.toUpperCase().replace('PO', '').replace(/\\s/g, '').trim());\n  console.log('Final po_clean:', po);\n\n  return {\n    json: {\n      extracted_data: extracted,\n      google_file_id,\n      po_clean: po\n    }\n  };\n});"
      },
      "name": "Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        45936,
        26832
      ],
      "id": "7019498d-e68c-40cd-8c07-64e5ab481c91"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-matching",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "5a6b092d-9b2e-424d-8ea5-0466e28d7cdf",
      "name": "Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        45728,
        27024
      ],
      "webhookId": "a688d92d-06d8-43f2-9130-92b478522890"
    }
  ],
  "pinData": {},
  "connections": {
    "Fetch PO Lines": {
      "main": [
        [
          {
            "node": "Fetch Rules1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Webhook": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Fetch PO Lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Rules1": {
      "main": [
        [
          {
            "node": "Fetch Examples1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Examples1": {
      "main": [
        [
          {
            "node": "Fetch Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Duplicates": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "3f72b355-3d96-46a3-af75-e594a778abc0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d6710e9f15c70882d98afad91b3f6139fc5da765f9731179deba30590d41a06c"
  },
  "id": "BcJAvoHSugKpk5lc",
  "tags": []
}