n8n/workflows/workflow_01_ingestion.json
{
    "name": "01_Ingestion_Watchdog",
    "nodes": [
        {
            "parameters": {
                "pollTimes": {
                    "item": [
                        {
                            "mode": "everyMinute"
                        }
                    ]
                },
                "triggerOn": "folder",
                "fileState": "created",
                "folderId": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
                "download": false
            },
            "id": "1",
            "name": "Google Drive Trigger",
            "type": "n8n-nodes-base.googleDriveTrigger",
            "typeVersion": 1,
            "position": [
                100,
                300
            ],
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Google Drive Account"
                }
            }
        },
        {
            "parameters": {
                "operation": "download",
                "fileId": {
                    "__rl": true,
                    "value": "={{ $json.id }}",
                    "mode": "id"
                }
            },
            "id": "2",
            "name": "Download PDF",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                300,
                300
            ],
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Google Drive Account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// ROBUST OCR: Ghostscript -> TIFF -> Tesseract\n// This handles PDF-to-Image conversion manually to fix Tesseract errors\nconst { execSync } = require('child_process');\nconst fs = require('fs');\n\n// 1. Get the REAL binary data using n8n helper\n// This is async, so we await it\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n\nif (!buffer) {\n  return [{ json: { error: \"No binary data found!\" } }];\n}\n\n// Use distinct filenames to avoid conflicts\nconst pdfPath = '/tmp/robust_invoice.pdf';\nconst tiffPath = '/tmp/robust_invoice.tiff';\n\ntry {\n  // 2. Write the PDF file to disk\n  fs.writeFileSync(pdfPath, buffer);\n  \n  // 3. Convert PDF to High-Res TIFF using Ghostscript\n  // -r300 = 300 DPI (standard for high quality OCR)\n  // -sDEVICE=tiffg4 = Black & White TIFF (fast and small)\n  // -dNOPAUSE -q -c quit = Silent mode\n  execSync(`gs -q -dNOPAUSE -r300 -sDEVICE=tiffg4 -sOutputFile=${tiffPath} ${pdfPath} -c quit`);\n  \n  // 4. Run Tesseract on the TIFF image\n  // We use the generated TIFF file instead of the PDF\n  const stdout = execSync(`tesseract ${tiffPath} stdout`).toString();\n  \n  // 5. Cleanup temporary files\n  if (fs.existsSync(pdfPath)) fs.unlinkSync(pdfPath);\n  if (fs.existsSync(tiffPath)) fs.unlinkSync(tiffPath);\n  \n  return [{ json: { stdout } }];\n  \n} catch (error) {\n  throw new Error('OCR Failed: ' + error.message);\n}"
            },
            "id": "3",
            "name": "Run Tesseract OCR",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "modelName": "models/gemini-2.0-flash",
                "prompt": "You are an expert AP Auditor. \nEXTRACT the following fields from the raw OCR text below and return strictly valid JSON.\n\nFields:\n- invoice_number (string)\n- po_reference (string)\n- vendor_name (string)\n- total_amount (number)\n- invoice_date (YYYY-MM-DD)\n- currency (USD/EUR)\n\nOCR TEXT:\n{{ $json.stdout }}\n\nIMPORTANT: RETURN ONLY THE JSON OBJECT. NO MARKDOWN BACKTICKS. NO DISCOUSE.\nExample: {\"invoice_number\": \"INV-123\", ...}",
                "options": {}
            },
            "id": "4",
            "name": "Gemini Parser",
            "type": "n8n-nodes-base.googleGemini",
            "typeVersion": 1,
            "position": [
                700,
                300
            ],
            "credentials": {
                "googleGeminiPaLMApi": {
                    "id": "YOUR_GEMINI_CREDENTIAL_ID",
                    "name": "Google Gemini Account"
                }
            }
        },
        {
            "parameters": {
                "operation": "upsert",
                "table": "invoices",
                "columnToMatchOn": "google_file_id",
                "columns": "invoice_number, po_reference, vendor_name_extracted, total_amount, google_file_id, status",
                "options": {}
            },
            "id": "5",
            "name": "Save to Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                950,
                300
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_CREDENTIAL_ID",
                    "name": "Supabase Account"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "fileId": {
                    "__rl": true,
                    "value": "={{ $node[\"Google Drive Trigger\"].json.id }}",
                    "mode": "id"
                },
                "updateFields": {
                    "parentIds": [
                        "10_Y_bu9Cz99MataERG6ylQEi6Zec7Ht-"
                    ]
                }
            },
            "id": "6",
            "name": "Move Processed File",
            "type": "n8n-nodes-base.googleDrive",
            "typeVersion": 3,
            "position": [
                1150,
                300
            ],
            "credentials": {
                "googleDriveOAuth2Api": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Google Drive Account"
                }
            }
        }
    ],
    "connections": {
        "Google Drive Trigger": {
            "main": [
                [
                    {
                        "node": "Download PDF",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Download PDF": {
            "main": [
                [
                    {
                        "node": "Run Tesseract OCR",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run Tesseract OCR": {
            "main": [
                [
                    {
                        "node": "Gemini Parser",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini Parser": {
            "main": [
                [
                    {
                        "node": "Save to Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Supabase": {
            "main": [
                [
                    {
                        "node": "Move Processed File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}